absl-py==0.11.0
alembic==1.5.4
appdirs==1.4.4
attrs==20.3.0
audioread==2.1.9
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cliff==3.6.0
cmaes==0.8.0
cmd2==1.5.0
colorama==0.4.4
colorlog==4.7.2
coverage==5.4
cycler==0.10.0
DAWG-Python==0.7.2
decorator==4.4.2
deprecation==2.1.0
docopt==0.6.2
eyed3==0.9.6
filelock==3.0.12
filetype==1.0.7
google-auth==1.24.0
google-auth-oauthlib==0.4.2
grpcio==1.35.0
idna==2.10
importlib-metadata==3.4.0
joblib==1.0.0
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.35.0
Mako==1.1.4
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mpmath==1.1.0
nltk==3.5
noisereduce==1.1.0
numba==0.52.0
numpy==1.19.5
oauthlib==3.1.0
optuna==2.5.0
packaging==20.9
pandas==1.2.1
pbr==5.5.1
pescador==2.1.0
Pillow==8.1.0
pooch==1.3.0
prettytable==0.7.2
protobuf==3.14.0
pyannote.audio==1.1.1
pyannote.core==4.1
pyannote.database==4.0.4
pyannote.metrics==3.0.1
pyannote.pipeline==1.5.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyAudioAnalysis==0.3.6
pycparser==2.20
pydiarization==0.4
pydub==0.24.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==2.4.7
pyperclip==1.8.1
pyreadline==2.1
pyreadline3==3.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.0.2
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7
scikit-learn==0.24.1
scipy==1.6.0
shellingham==1.4.0
simplejson==3.17.2
six==1.15.0
sortedcollections==2.1.0
sortedcontainers==2.3.0
SoundFile==0.10.3.post1
SQLAlchemy==1.3.23
stevedore==3.3.0
sympy==1.7.1
tabulate==0.8.7
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.1
tqdm==4.56.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.3
vosk==0.3.7
wcwidth==0.2.5
webrtcvad==2.0.10
Werkzeug==1.0.1
zipp==3.4.0
